{% load static %}

<!--Подключение jQuery-->
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

<!--Подключение Bootstrap-->
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}SWC Test Task{% endblock %}
        </title>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}">
    </head>
    <body>
    {% block content %}{% endblock content %}
    </body>
</html>

