{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="position-absolute start-50 top-50 translate-middle d-flex flex-column align-items-center">
        {% if user.is_authenticated %}
            <h1 class="mb-3">Здравствуйте, {{ user.first_name }}!</h1>
        {% else %}
            <h1 class="mb-3">Добро пожаловать!</h1>
        {% endif %}
        <div class="d-flex gap-2">
            {% if user.is_authenticated %}
                <a class="btn btn-info" href="{% url 'user_admin' %}">Админка</a>
                <a class="btn btn-info" href="{% url 'event_home' %}">Rest Events</a>
                <a class="btn btn-info" href="{% url 'users_home' %}">Rest Users</a>
                <a class="btn btn-info" href="{% url 'logout' %}">Выйти</a>
            {% else %}
                <a class="btn btn-info" href="{% url 'login' %}">Вход</a>
                <a class="btn btn-info" href="{% url 'register' %}">Регистрация</a>
            {% endif %}

        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
{% endblock %}