{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="d-flex gap-5 ms-5 mt-4">
        <div>
        <div class="d-flex align-items-center gap-5">
            <h1 class="ml-xxl">{{ user.first_name }}</h1>
            <a class="btn btn-info" href="{% url 'start_page' %}">На главную</a>
            <a class="btn btn-info" href="{% url 'logout' %}">Выйти</a>
        </div>
        <div id="block_all_events">
            <h2>Все события</h2>
            <table class="table table-bordered" id="all_events">
                {% for event in events %}
                    <tr>
                        <th><a href="#" onclick="showEvent(`{{ event.pk }}`)">{{ event }}</a></th>
                    </tr>
                {% endfor %}
            </table>
        </div>
        {% if my_events %}
            <div>
                <h2>Мои события</h2>
                <table class="table table-bordered mb-0">
                    {% for my_event in my_events %}
                    <tr>
                        <th><a href="#" onclick="showEvent(`{{ my_event.pk }}`)">{{ my_event }}</a></th>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
        </div>
        <div id="event_info" class="d-flex flex-column opacity-0" hidden>
            <div class="mw-100">
                <input type="hidden" id="event_id">
                <h2 id="event_name" style="max-width: 400px; word-wrap: break-word"></h2>
                <h4 id="event_description" style="max-width: 400px; word-wrap: break-word"></h4>
                <h4 id="event_date"></h4>
            </div>
            <div class="mt-3">
                <h2>Участники</h2>
                <div id="participants" class="d-flex flex-column"></div>
                <div class="mt-5">
                    <a class="btn btn-secondary" id="participant_btn" action="add" href="#">Принять участие</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="creator_data">
        <div class="modal-dialog text-center" role="document">
            <div class="modal-content bg-white text-dark p-3">
                <h5>Логин</h5>
                <p id="creator_login"></p>
                <h5>Имя и фамилия</h5>
                <p id="creator_fio"></p>
                <h5>Дата регистрации</h5>
                <p id="creator_data_joined"></p>
                <div hidden>
                    <h5>Дата рождения</h5>
                    <p id="creator_birthday"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="modal_message">
        <div class="modal-dialog modal-lg modal-dialog-centered text-center h-25" role="document">
            <div class="modal-content bg-white text-dark h-25 d-flex justify-content-center">
                <h4 id="message_content"></h4>
            </div>
        </div>
    </div>

    <script>
        let participant_btn = $('#participant_btn')
        let delete_participant = $('#delete_participant')
        let participants = $('#participants')
        let event_info = $('#event_info')

        function refreshPage() {
            let event_id = 0;
            if (!$('#event_info').hasClass('opacity-0')) event_id = $('#event_id').val()
                fetch(`/main_admin/refresh_page/?event_id=${event_id}`)
                .then(response => response.json())
                .then(data => {
                    $('#all_events').remove();
                   $('#block_all_events').append(`
                    <table class="table table-bordered" id="all_events">
                        ${data['events_data'].map((item) => `
                            <tr>
                                <th><a href="#" onclick="showEvent(${item.id})">${item.name}</a></th>
                            </tr>
                        `).join('')}
                    </table>
                    `);
                   console.log('refreshed events');
                   
                   if (event_id !== 0) {
                       participants.empty();
                       data['participants_data'].forEach((item) => {
                        participants.append(`<a href="#" id="${item['id']}" onclick="showCreator(${item['id']})">${item['name']}</a>`)
                        }
                        )
                       console.log('refreshed participants');
                   }

                })
        }
        setInterval(refreshPage, 30000);
        function showEvent(event_id) {
            participants.empty();
            $('#event_info').removeClass('opacity-0');
            fetch(`/main_admin/get_event_data/?event_id=${event_id}`)
                .then(response => response.json())
                .then(data => {
                    const event_data = data['event_data'];
                    const participants_data = data['participants_data'];
                    $('#event_id').val(event_data['id']);
                    $('#event_name').text(event_data['name']);
                    $('#event_description').text(event_data['description']);
                    $('#event_date').text(event_data['date']);
                    participants_data.forEach((item) => {
                        participants.append(`<a href="#" id="${item['id']}" onclick="showCreator(${item['id']})">${item['name']}</a>`)
                        }
                    )
                    participant_btn.unbind('click');
                    participant_btn.click(() => {
                        if (participant_btn.attr('action') === 'add') {
                            manageParticipant(`${event_data['id']}`, 'add');
                        }
                        else {
                            manageParticipant(`${event_data['id']}`, 'remove');
                        }
                    })

                    if (data['is_mine']) {
                        participant_btn.text('Отказаться от участия')
                        participant_btn.attr('action', 'remove')
                    }
                    else {
                        participant_btn.text('Принять участие')
                        participant_btn.attr('action', 'add')
                    }
                })
        }
        function manageParticipant(event_id, action) {
            fetch(`/main_admin/manage_participant_actions/?event_id=${event_id}&action=${action}`)
                .then(response => response.json())
                .then(data => {
                    const participant_data = data['participant_data'][0]
                        
                    $('#message_content').text(data['result'])
                    if (action === 'add') {
                        refreshPage();
                        participant_btn.text('Отказаться от участия')
                        participant_btn.attr('action', 'remove')
                    }
                    else if (action === 'remove' && !data['errors']) {
                        refreshPage();
                        participant_btn.text('Принять участие')
                        participant_btn.attr('action', 'add')
                    }
                    $('#modal_message').modal("show");
                })
        }
        function showCreator(person_id) {
            fetch(`/main_admin/get_participant_data/?person_id=${person_id}`)
                .then(response => response.json())
                .then(data => {
                    $('#creator_login').text(data['username']);
                    $('#creator_fio').text(data['name']);
                    $('#creator_data_joined').text(data['data_joined']);
                    if (data['date_of_birth']) {
                        $('#creator_birthday').text(data['date_of_birth']);
                    }
                    $('#creator_data').modal('show')
                })
        }
    </script>
{% endblock %}

