{% extends 'base.html' %}

{% load static %}

{% block content %}
  <div class="position-absolute start-50 top-50 translate-middle d-flex flex-column align-items-center">
    <h2>Вы успешно вышли из аккаунта!</h2>
    <a class="btn btn-info" href="{% url 'login' %}">Войти снова</a>
  </div>
{% endblock %}