{% extends 'base.html' %}
{% block content %}
    <div class="h-100 d-flex flex-column align-items-center justify-content-center">
        <h1>С возвращением!</h1>
        <form class="w-25" method="post" action="{% url 'login' %}">
              {% csrf_token %}
              <div class="form-group">
                <label>{{ form.username.label_tag }}</label>
                <input class="form-control" name="{{ form.username.name }}" id="{{ form.username.id }}" placeholder="Введите логин">
               </div>
              <div class="form-group">
                <label>{{ form.password.label_tag }}</label>
                <input class="form-control" name="{{ form.password.name }}" id="{{ form.password.id }}" type="password" placeholder="Введите пароль">
               </div>
            <a href="{% url 'register' %}">Зарегистрироваться</a>
            <input type="submit" class="btn btn-success mt-2 mx-auto d-block" value="Войти">
            <input type="hidden" name="next" value="{{ next }}">
        </form>
    </div>
    <div id="errorModal" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header justify-content-center">
            <h5 class="modal-title">Список ошибок</h5>
            </button>
          </div>
          <div class="modal-body">
              {% if form.errors %}
                <input type="hidden" id="form_errors" value="yes">
                {% for field, error_name in form.errors.items %}
                    {% if field == '__all__' %}
                        <span>{{ error_name }}</span>
                    {% elif field == 'username' %}
                        <span>Имя пользователя{{ error_name }}</span>
                    {% elif field == 'password' %}
                        <span>Пароль{{ error_name }}</span>
                    {% endif %}
                {% endfor %}
              {% endif %}
              {% if next %}
                <input type="hidden" id="next" value="yes">
                {% if user.is_authenticated %}
                    <p>У вашего аккаунта нет доступа к этой странице.</p>
                {% else %}
                    <p>Пожалуйста, войдите, чтобы увидеть страницу.</p>
                {% endif %}
              {% endif %}
          </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-target="#passwordMismatchModal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>

    <script>
        $(document).ready(function($) {
            if ($('#form_errors').length || $('#next').length)
              $('#errorModal').modal("show");
        });
    </script>
{% endblock %}