{% extends 'base.html' %}
{% block title %}Регистрация{% endblock %}
{% block content %}
  <h1 style="text-align: center;margin-top: 2px">Регистрация</h1>
  <form action="." method="post" style="max-width: 900px;" class="mx-auto">
          {% csrf_token %}
    <div class="form-row mb-2 classic">
        <label for="{{ form.username.id_for_label }}">{{ form.username.label }}<span class="text-danger">*</span></label>
        {{ form.username }}
    </div>

    <div class="form-row mb-2 classic">
        <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}<span class="text-danger">*</span></label>
        {{ form.first_name }}
    </div>

    <div class="form-row mb-2 classic">
        <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}<span class="text-danger">*</span></label>
        {{ form.last_name }}
    </div>

    <div class="form-row mb-2 classic">
        <label for="{{ form.date_of_birth.id_for_label }}">{{ form.date_of_birth.label }}</label>
        {{ form.date_of_birth }}
    </div>

    <div class="form-row mb-2 classic">
        <label for="{{ form.password.id_for_label }}">{{ form.password.label }}<span class="text-danger">*</span></label>
        {{ form.password }}
    </div>

    <div class="form-row mb-2 classic">
        <label for="{{ form.password2.id_for_label }}">{{ form.password2.label }}<span class="text-danger">*</span></label>
        {{ form.password2 }}
    </div>
    <input type="submit" class="btn btn-success" style="margin-bottom: 20px" value="Зарегистрироваться">
  </form>
    <div class="modal fade" id="show_errors" tabindex="-1" role="dialog" aria-labelledby="passwordMismatchModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" style="text-align: center; margin: 0 auto;">Список ошибок</h5>
          </div>
          <div class="modal-body">
            {% if form.errors %}
              <input type="hidden" id="is_errors" value="True">
                {% for field, error_name in form.errors.items %}
                    <span>{{ error_name }}</span>
                {% endfor %}
            {% endif %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-target="#passwordMismatchModal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>

    <script>
         $(document).ready(function($) {
            if ($('#is_errors').length)
              $('#show_errors').modal("show");
        });
    </script>

{% endblock %}